{%extends 'main.html'%}
{%block content%}


<div class="container">

    <div class="container-dictionary">
        
        {% for category in the_categories %}
        
        
        <ul>
            {% for item in dictionary %}
              {% if item.name == category %}
                {% ifchanged category %}
                  <h2>{{ category }}</h2>
                {% endifchanged %}
                <a href=""><li>{{ item.subcategory }}</li></a>
              {% endif %}
            {% endfor %}
          </ul>
      {% endfor %}
    </div>
    <div class="container-products">
      
        {%for p in products%}
       <div class="supercard">
        <div class="card1">
            <div class="card-header">
                <h3>{{p.product_name}}</h3>
                <div class="image-box">
                    <img src="{{p.product_image}}" alt="">
                  </div>
            </div>
            <div class="card-body">
                <h3>{{p.product_price}}$</h3>
                <p>{{p.product_info}}</p>
                <a class="forthebutton" href="{%url 'base:details' p.id%}"><button>Details</button></a>
            </div>
        </div>
       </div>
        
        {%endfor%}
        
    </div>
    <div></div>
</div>



{%endblock content%}