/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Style for table headers */
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Alternate row colors for better readability */
  tr:nth-child(even) {
    background-color: #f2f7fb;
  }
  

  /* Style for table cells */
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Hover effect on table rows */
  tr:hover {
    background-color: #e3f2fd;
    cursor: pointer;
  }
.toggle-table{
    color: black;
}


.table-disp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-disp button{ 
        color: white;
        background: rgb(72, 72, 255);
        border-radius: 10px;
        border: none;
        outline: none;
        padding:5px;
        width:120px;
        height: 120px;
        border-radius: 50%;
        margin: 5px;
        align-self: center;

}
.table-disp button:hover{
  background: blue;
}
#delbtn{
  background: blue;
}


.table-add{
  display: flex;
  align-items: center;
  justify-content: center;
}


.table-add  button{
       color: white;
        background: rgb(72, 72, 255);
       
        border: none;
        outline: none;
        padding:5px;
        width:120px;
        height: 120px;
        border-radius: 50%;
        margin: 5px;
        align-self: center;
        transition: opacity 0.5s ease 0;
}
.table-add a{
  color: white;
}

/* .table-add  button:nth-child(1):focus ~ button:nth-child(2){
  background: rgb(0, 0, 149);
} */

/* .table-add button:nth-child(2){
  opacity: 0;
}
.table-add button:nth-child(3){
  opacity: 0;
}
.table-add button:nth-child(4){
  opacity: 0;
}
.table-add button:nth-child(5){
  opacity: 0;
}
.table-add button:focus:nth-child(1) ~  button:nth-child(n+1) {
  opacity: 1;
} */

.table-add button:nth-child(2){
  opacity: 0;
}
.table-add button:nth-child(3){
  opacity: 0;
}
.table-add button:nth-child(4){
  opacity: 0;
}
.table-add button:nth-child(5){
  opacity: 0;
}
.table-add button:focus:nth-child(1) ~  button:nth-child(n+1) {
  transition: opacity   0.3s ease;
  opacity: 1;
}




.table-disp  button:nth-child(2){
  opacity: 0;
}
.table-disp  button:nth-child(3){
  opacity: 0;
}
.table-disp  button:nth-child(4){
  opacity: 0;
}
.table-disp  button:nth-child(5){
  opacity: 0;
}
.table-disp  button:focus:nth-child(1) ~  button:nth-child(n+1) {
  transition: opacity   0.3s ease;
  opacity: 1;
}







